<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav class="head navbar-dark myWebPurple" style="margin-bottom: 20px;"
         th:fragment="shopHeader">
        <div style="margin: 0 auto">
            <ul class="navbar-nav position-relative float-left">
                <li class="nav-item active">
                    <a class="nav-link" href="/">店铺首页</a>
                </li>
            </ul>
            <ul class="navbar-nav position-relative float-right">
                <li class="nav-item active">
                    <a class="nav-link" href="/">店铺首页</a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>