<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="topbar">
    <a class="nav-link hightlight" th:class="${a=='users'?'nav-link hightlight':'nav-link'}" href="/users" style="float: left;font-size: smaller">
        用户管理
    </a>
    <a class="nav-link" th:class="${a=='teammanage'?'nav-link hightlight':'nav-link'}" href="/teammanage" style="float: left;font-size: smaller">
        团队管理
    </a>
    <a class="nav-link" th:class="${a=='rolemanage'?'nav-link hightlight':'nav-link'}" href="/rolemanage" style="float: left;font-size: smaller">
        角色管理
    </a>
    <a href="/emp_user">
        <button type="button" class="btn-primary btn-xs" style="margin-top: 10px;margin-left: 360px;float: left;width: 70px;height: 25px;font-size: smaller">新增用户</button>
    </a>

</div>
</body>
</html>