a.login_box{
    position:relative;
    float:left;
    margin:0 auto;
    text-align:center;
    text-decoration:none;
}
a.login_box:hover{
    background:#fff;
    text-decoration:none;z-index:2;
}
a.login_box span{
    display:none;
}
a.login_box:hover span{
    position:absolute;
    display:block;
    top:40px;left:-5px;
    width:80px;height:100px;
    border:2px solid #eee;
    z-index:1;
    padding: 20px 16px 14px;
    background-color: #fff
}

a.login_box .login-btn {
    width: 90px;
    height: 30px;
    margin-bottom: 15px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #8c222c;
    color: #fff;
    background-color: #8c222c;
    cursor: pointer
}

a.login_box .register-btn {
    width: 90px;
    height: 30px;
    margin-bottom: 16px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #d4c4b8;
    color: #8c222c;
    background-color: #f8f7f3;
    cursor: pointer
}

.login-win {
    position:absolute;
    width: 300px;
    height: 180px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
    background: #f7f7f6;
    display: none;
    z-index: 10003;
    border-radius: 6px;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10001;
    display:none;
    filter:alpha(opacity=60);
    background-color: #777;
    opacity: 0.5;
    -moz-opacity: 0.5;
}

/** 弹出框 **/
.overTip,.overWin h3{padding:0;margin:0;overflow:visible;}
.overTip{width: 450px; height: auto;_overflow:visible;visibility:visible}
.overWin{position:relative;width:auto; height:auto; padding:40px 0 30px 0;background:#f7f7f6; z-index:1000002;overflow:visible;}
.overWin .closeBtn{position:absolute;z-index:1000003;right:0;top:10px;width:34px;height:35px;}
.overWin .closeBtn a{display:block;width:18px;height:18px;background:url(/pc/images/login/login_ico.png) no-repeat 0 -418px;}
.overWin .closeBtn a:hover{ background-position:0 -197px;}

.overWin h3{height:35px;line-height:35px;font-size:30px; color:#666; font-weight:500;overflow:hidden;}
.overWin  .smallBt{ margin-top:15px; color:#999;}
.overWin .overWinCon{position:relative; width:350px; margin:0 auto;}
.overWin .overWinCon .qrcode_img{width: 62px;height: 62px;position: absolute;top: -32px;right: -42px;cursor: pointer;}
.overWin .overWinText{height:auto!important;word-break:break-all;}

.overWin .overWinBtn{overflow:hidden;*zoom:1;}
.overWin .overWinBtn .one{padding-left:262px;}
.overWin .overWinBtn a{margin:0 10px;float:left;*display:inline;}
.overWin .confirmCon{padding-top: 15px;}
.overWin .overWinBtnBox{width:160px;_width:170px;margin:0 auto;}

.forgetPass a:hover{color:#333!important;}
.overWin  .smallBt:hover {color:#333!important;}
.registerGo:hover{color: #8c222c!important;}
#loginBox .overWinText  ul.login_list { border:1px solid #ccc; }
#loginBox .overWinText  ul.login_list .red{ color:#d31414;}
#loginBox .overWinText  ul.login_list li { background:#fff; position:relative;height: 39px;}
#loginBox .overWinText  ul.login_list li .input_box { position:relative; text-align:left; }
#loginBox .overWinText  ul.login_list li.last { border-bottom:1px solid #ccc; }
#loginBox .overWinText  ul.login_list li .pos_info { position: absolute;right:18px;top:0; line-height:38px; white-space:nowrap; font-size:14px; }
#loginBox .overWinText  ul.login_list li input { width:312px; height:18px;line-height: 18px; padding:10px 18px; font-size:14px; }
#loginBox .overWinText  ul.login_list li input.w_80{ width:80px;}
#loginBox .overWinText  ul.login_list li .input_box  .placeholder_box{ position:absolute; left:0; top:0; line-height:40px; height:40px; color:#ccc; font-size:14px; padding-left:20px;}
#loginBox .overWinText  a.btn_red_h40 { display:block; background:#8c222c; height:40px; line-height:40px; color:#fff; font-size:16px; text-align:center; border-radius:3px; letter-spacing: 10px; }
#loginBox .overWinText  a.btn_red_h40:hover { background:#6a000a; }
#loginBox .overWinText  a.btn_red_h40.nomal{ letter-spacing:normal;}

/*注册*/

#regitBox .overWinText  ul.login_list { border:1px solid #ccc; }
#regitBox .overWinText  ul.login_list .red{ color:#d31414;}
#regitBox .overWinText  ul.login_list li { background:#fff; position:relative;height: 39px;}
#regitBox .overWinText  ul.login_list li .input_box { position:relative; text-align:left; }
#regitBox .overWinText  ul.login_list li.last { border-bottom:1px solid #ccc; }
#regitBox .overWinText  ul.login_list li .pos_info { position: absolute;right:18px;top:0;line-height:40px; white-space:nowrap; font-size:14px; }
#regitBox .overWinText  ul.login_list li input { width:312px; height:18px;line-height: 18px; padding:10px 18px; font-size:14px; }
#regitBox .overWinText  ul.login_list li input.w_110{ width:110px;}
#regitBox .overWinText  ul.login_list li .input_box  .placeholder_box{ position:absolute; left:0; top:0; line-height:40px; height:40px; color:#ccc; font-size:14px; padding-left:20px;}
#regitBox .overWinText  a.btn_red_h40 { display:block; background:#8c222c; height:40px; line-height:40px; color:#fff; font-size:16px; text-align:center; border-radius:3px; letter-spacing: 10px; }
#regitBox .overWinText  a.btn_red_h40:hover { background:#6a000a; }
#regitBox .overWinText  a.btn_red_h40.nomal{ letter-spacing:normal;}
#regitBox .overWinText  a.btn_gray_75{ display:block; position:absolute; right:20px; top:7px; background:#f3f0e9; color:#666; font-size:12px; width:75px; height:24px; line-height:24px; text-align:center;}

#regitBox .overWinText ul.login_list li.bg_gray{ background:#eeeeee; color:#999; position:relative; padding:0 20px; position:relative;}
#regitBox .overWinText ul.login_list li.bg_gray span.jt_up{ position:absolute; top:-4px; left:23px; background:url(/pc/images/login/login_ico.png) no-repeat 0 -565px; width:8px; height:4px; }
#regitBox .overWinText ul.login_list li.no_border{ border-bottom:none;}

.eyes_open{ display:block; position:absolute; right:20px; top:14px; color: #999; width:19px; height:12px; }
.eyes_close{ display:block; position:absolute; right:20px; top:13px; color: #999; width:19px; height:12px;font-size: 14px;}
.eyes_close:hover {color: #999;}
.eyes_open:hover {color: #999;}
.passwordClear,.clearPassword {display: none;position:absolute;right: 46px;top: 12px;width: 12px;font-size: 14px!important;height: 12px;color: #999;}
.passwordClear:hover,.clearPassword:hover {color: #999;}

#loginBox .overWinText  ul.login_list li .pos_info_yanzhengma,.pos_info_verity {
    right: 144px!important;
}
.pos_info_verity_register {
    right: 70px!important;
}
#loginBox_phone .overWinText  ul.login_list li .pos_info_information,.pos_info_message {
    right: 100px!important;
}
.pos_info_passwords,.newPasswordTip {
    right: 45px!important;
}