/* 网站统一背景色 */
.myWebPurple{
    background-color: #63065f;
}

.navItemPadding{
    padding: 0.1rem 1.25rem 0.1rem 1.25rem;
}

/* 缩略图 书籍封面图片样式 */
.gallery-book-list-img{
    text-align: center;
    display: block;
    width: 140px;
    height: 140px;
    margin-bottom: 4px;
}
.search-box {
    margin: auto;
    padding: 30px 0 0 30px;
    display: block;
    width: 1000px;
    height: 100px;
}

.title{
    color: #632756;
    font-weight: 400;
}

a, a:focus, a:hover {
    text-decoration: none;
}

.shop_title {
    min-width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 46px;
    color: #435348;
    background: url(/img/shopTitleBackgroud.png);
    background-size: 1280px 80px;
}
