.background{
    background-image: url(/asserts/img/login.png);

}
.background1{
    background-image: url(/asserts/img/1.png);

}
.background2{
    background-image: url(/asserts/img/background.png);

}
.background3{
    background-image: url(/asserts/img/tx.png);

}
.background4{
   background-image: url(/asserts/img/bin.png);

}
.mainDiv {
    float: left;
    width: 100%;
    margin-top: 2%;
    height: 100%;


}
.viceDiv_1{
    float: left;
    margin-top: 2% ;
    margin-left: 1%;
    color: yellow;
    width: 15%;
    height: 100%;
}
.viceDiv_2{
      float: left;


      margin-top: 2% ;
      margin-left: 3%;
      width: 55%;
      height: 100%;
 }
.viceDiv_3{
    float: left;


    margin-top: 2% ;
    margin-left: 1%;
    width: 25%;
    height: 100%;
}
.hightlight{
    color: red;
}