<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/signin.css" th:href="@{css/signin.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}">
<head>
    <meta charset="UTF-8">
    <title>主页面</title>
</head>
<body class="background2" style="background-image: url('../static/img/background3.png')">

<div class="mainDiv">
    <div class="viceDiv_1">
        <div>
            <a th:href="@{/emp_me}"><img src="" th:src="@{img/tx.gif}" style="margin-top: 55px; margin-left: 30px" ></a>
        </div>



        <!-- leftbar -->
        <div th:replace="commons/bar::leftbar"></div>
    </div>
    <div class="viceDiv_2">
        <div style="margin-top: 15px;margin-left: 15px">用户管理</div>


        <pr></pr>

        <div th:replace="commons/top::topbar(a='users')"></div>
        <!--表格-->
        <div class="table-responsive" style="margin-left: 15px">
            <table class="table table-striped table-sm" style="border-right-width: 10px">
                <thead>
                <tr>
                    <th>
                        <input type="checkbox">
                    </th>
                    <th style="font-size: smaller">序号</th>
                    <th style="font-size: smaller">用户名</th>
                    <th style="font-size: smaller">姓名</th>
                    <th style="font-size: smaller">性别</th>
                    <th style="font-size: smaller">部门</th>
                    <th style="font-size: smaller">职务</th>
                    <th style="font-size: smaller">联系方式</th>
                    <th style="font-size: smaller">电子信箱</th>
                    <th style="font-size: smaller">操作方式</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user:${users}">

                    <td><input type="checkbox"></td>
                    <td th:text="${user.id}" style="font-size: smaller"></td>
                    <td th:text="${user.username}" style="font-size: smaller"></td>
                    <td th:text="${user.name}" style="font-size: smaller"></td>
                    <td th:text="${user.gender}" style="font-size: smaller"></td>
                    <td th:text="${user.department}" style="font-size: smaller"></td>
                    <td th:text="${user.role}" style="font-size: smaller"></td>
                    <td th:text="${user.contact}" style="font-size: smaller"></td>
                    <td th:text="${user.email}" style="font-size: smaller"></td>
                    <td>
                        <div>
                            <a th:href="@{/emp_user/}+${user.id}"><img src="../static/img/pencil.png" width="20px" height="25px" style="float: left"></a>
                            <form th:action="@{/emp_user/}+${user.id}" method="post">
                                <input type="hidden" name="_method" value="delete"/>

                                <button type="submit" class="btn" style="background-image: url('../static/img/bin6.png');background-color: transparent;width: 20px;height: 25px;float: left"></button>

                            </form>



                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="viceDiv_3">
        <div style="margin-left: 60px" th:fragment="imgbar">
            <div style="margin-left: 15px">
                <img th:src="@{../static/img/app1.png}" src="../static/img/app.png" style="width: 80px">
            </div>
            <div style="margin-left: 25px;margin-top: 20px">
                <a th:href="@{/cuss}"><img th:src="@{../static/img/khgl.png}" src="" style="width: 40px"></a>
                <a th:href="@{/users}"><img th:src="@{../static/img/xmgl.png}" src="../static/img/xmgl.png"
                                            style="width: 40px;margin-left: 10px"></a>
                <a th:href="@{/users}"><img th:src="@{../static/img/yhgl.png}" src="../static/img/yhgl.png"
                                            style="width: 40px;margin-left: 10px"></a>
                <a th:href="@{/users}"><img th:src="@{../static/img/tdzb.png}" src="../static/img/tdzb.png"
                                            style="width: 40px;margin-left: 10px"><br></a>
                <a th:href="@{/users}"><img th:src="@{../static/img/gszb.png}" src="../static/img/gszb.png"
                                            style="width: 40px"></a>
                <a th:href="@{/users}"><img th:src="@{../static/img/tdxm.png}" src="../static/img/tdxm.png"
                                            style="width: 40px;margin-left: 10px"></a>
                <a th:href="@{/users}"><img th:src="@{../static/img/gsxm.png}" src="../static/img/gsxm.png"
                                            style="width: 40px;margin-left: 10px"></a>
                <a th:href="@{/users}"><img th:src="@{../static/img/tdcf.png}" src="../static/img/tdcf.png"
                                            style="width: 40px;margin-left: 10px"><br></a>
                <a th:href="@{/users}"><img th:src="@{../static/img/gscf.png}" src="../static/img/gscf.png"
                                            style="width: 40px"></a>
                <a th:href="@{/users}"><img th:src="@{../static/img/tj.png}" src="../static/img/tj.png"
                                            style="width: 40px;margin-left: 10px"></a>
                <a th:href="@{/users}"><img th:src="@{../static/img/txl.png}" src="../static/img/txl.png"
                                            style="width: 40px;margin-left: 10px"><br></a>
            </div>
        </div>

        <div>
            <div style="margin-top: 20px">
                <img src="" th:src="@{../static/img/ld.png}" style="margin-left: 75px;width: 50px">
            </div>
            <div style="color: black"><pr></pr></div>

            <div style="margin-left: 50px;margin-top: 10px" th:fragment="gao">
                <ul style="margin-top: 10px">
                    <li>
                        <a style="font-size: smaller" th:href="@{/users}">关于办公文件问题的公告&nbsp&nbsp&nbsp&nbsp2019-06-06</a>
                    </li>
                    <li>
                        <a style="font-size: smaller" th:href="@{/users}">关于办公文件问题的公告&nbsp&nbsp&nbsp&nbsp2019-06-06</a>
                    </li>
                    <li>
                        <a style="font-size: smaller" th:href="@{/users}">关于办公文件问题的公告&nbsp&nbsp&nbsp&nbsp2019-06-06</a>
                    </li>
                    <li>
                        <a style="font-size: smaller" th:href="@{/users}">关于办公文件问题的公告&nbsp&nbsp&nbsp&nbsp2019-06-06</a>
                    </li>
                    <li>
                        <a style="font-size: smaller" th:href="@{/users}">关于办公文件问题的公告&nbsp&nbsp&nbsp&nbsp2019-06-06</a>
                    </li>
                    <li>
                        <a style="font-size: smaller" th:href="@{/users}">关于办公文件问题的公告&nbsp&nbsp&nbsp&nbsp2019-06-06</a>
                    </li>
                    <li>
                        <a style="font-size: smaller" th:href="@{/users}">关于办公文件问题的公告&nbsp&nbsp&nbsp&nbsp2019-06-06</a>
                    </li>
                    <li>
                        <a style="font-size: smaller" th:href="@{/users}">关于办公文件问题的公告&nbsp&nbsp&nbsp&nbsp2019-06-06</a>
                    </li>
                    <li>
                        <a style="font-size: smaller" th:href="@{/users}">关于办公文件问题的公告&nbsp&nbsp&nbsp&nbsp2019-06-06</a>
                    </li>
                    <li>
                        <a style="font-size: smaller" th:href="@{/users}">关于办公文件问题的公告&nbsp&nbsp&nbsp&nbsp2019-06-06</a>
                    </li>
                    <li>
                        <a style="font-size: smaller" th:href="@{/users}">关于办公文件问题的公告&nbsp&nbsp&nbsp&nbsp2019-06-06</a>
                    </li>
                    <li>
                        <a style="font-size: smaller" th:href="@{/users}">关于办公文件问题的公告&nbsp&nbsp&nbsp&nbsp2019-06-06</a>
                    </li>
                </ul>
            </div>
        </div>



    </div>
</div>


</body>


</html>