<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>全站搜索</title>

    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-4.4.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/other/h.js}"></script>
    <script type="text/javascript" th:src="@{/js/holder/holder.js}"></script>
    <script type="text/javascript" th:src="@{/js/google-code-prettify/prettify.js}"></script>
    <script type="text/javascript" th:src="@{/js/other/application.js}"></script>

    <script type="text/javascript" th:src="@{/js/login.js}"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap-4.4.1.css}">
    <link rel="stylesheet" th:href="@{/js/google-code-prettify/prettify.css}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">

</head>
<body>
    <div class="overlay" id="overlay"></div><!--遮罩层-->
    <iframe class="login-win" id="modalDiv" style="display: none"></iframe>

    <div th:replace="header/searchHeader::searchHeader"></div>

    <main class="container">
        <!-- 居中搜索栏 -->
        <div class="row">
            <div class="col search-box clearfix">
                <form th:action="@{/home/search}" method="get">
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <label class="mr-sm-2 sr-only" for="type">Preference</label>
                            <select class="custom-select mr-sm-2" id="type">
                                <option selected="">全部项</option>
                                <option value="author">作者</option>
                                <option value="title">书名</option>
                                <option value="press">出版社</option>
                            </select>
                        </div>
                        <div class="col-4 col-md-8">
                            <input name="content" class="form-control mr-sm-2" type="text" aria-label="Search"
                                th:value="${content}">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">搜索</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- 类型切换tag -->
        <!-- todo thyme 动态切换卡片样式 -->
        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a class="nav-link" th:classappend="${type == '商品'}? 'active' : ''"
                   th:href="@{/home/search(content=${content})}">所有商品</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${type == '图书条目'}? 'active' : ''"
                   th:href="@{/home/search(content=${content},type='图书条目')}">图书条目</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${type == '新书'}? 'active' : ''"
                   th:href="@{/home/search(content=${content})}">新书</a>
            </li>
        </ul>


        <div class="row mb-3">
            <!-- 分类筛选nav -->
            <div class="col-2 border">
                <div class="mt-3 mb-1 font-weight-bold">分类筛选</div>
            </div>

            <div class="col-8">
                <!-- 搜索结果list  -->
                <ul id="resultBox" class="list-group">
                    <li class="list-group-item" th:each="book : ${bookList}">
                        <div class="row">
                            <div class="col-3">
                                <a href="http://book.kongfz.com/206073/1359643514/"
                                   target="_blank">   <!-- todo href设置商品详情页面url-->
                                    <img class="img-thumbnail gallery-book-list-img" th:alt="${book.pname}"
                                         th:src="${book.image}"
                                         style="display: inline-block;">
                                </a>
                            </div>
                            <div class="col-5">
                                <div th:title="${book.pname}">
                                    <a th:href="@{/book/info(shopId=${book.sid},bookId=${book.pid})}"
                                       target="_blank">
                                        <span class="title" th:text="${book.pname}">软件工程</span>
                                    </a>
                                </div>
                                <div> <!--作者 -->
                                    <p>张林、马雪英、王衍 著</p>
                                </div>
                                <div class="row">
                                    <a th:href="@{/shop(sid=${book.sid})}"
                                       target="_blank">
                                        <p>皓轩书阁</p>
                                    </a>
                                    <p> | </p>
                                    <p>北京市朝阳区</p>
                                </div>
                            </div>
                            <div class="col-4">
                                <div >
                                    <div>
                                        <div class="quality gray3">九五品</div>
                                        <div style="font-weight: bold;color: #8c222c;font-size: 16px">
                                            <span>￥</span>  <span>19.25</span>
                                        </div>
                                    </div>
                                    <div class="ship-fee-box"></div>  <!--快递费用-->
                                    <div class="activity"></div>     <!--活动-->
                                    <div class="add-time-box"><span>2020-03-03</span> <span>上书</span></div>
                                </div>
                                <div  buyid="1359643514" shopid="206073" itemid="1359643514">
                                    <div class="btn-sm btn-danger d-inline">加入购物车</div>
                                    <div class="btn-sm btn-success d-inline">立即购买</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- 分页 -->
                <nav class="mt-4">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${currentPage == 1}? 'disabled' : ''">
                            <a class="page-link" href="#">上一页</a></li>

                        <li class="page-item" th:each="page : ${#numbers.sequence(1,pageCnt)}"
                            th:classappend="${currentPage == page}? 'active' : ''">
                            <a class="page-link" href="#" th:text="${page}">1</a></li>
                        <!-- todo 解决页面过多溢出问题 -->

                        <li class="page-item" th:classappend="${currentPage == pageCnt}? 'disabled' : ''">
                            <a class="page-link" href="#">下一页</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-2"></div> <!--占位符-->
        </div>
    </main>
</body>
<style>

</style>
</html>