<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="" th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="" th:href="@{/asserts/css/signin.css}" rel="stylesheet">
    <link rel="stylesheet" href="" th:href="@{/asserts/css/main.css}">
<head>
    <meta charset="UTF-8">
    <title>主页面</title>
</head>
<body class="background2" style="background-image: url('asserts/img/background3.png')">

<div class="mainDiv">
    <div class="viceDiv_1">
        <div>
            <a th:href="@{/emp_me}"><img src="" th:src="@{/asserts/img/tx.gif}" style="margin-top: 55px; margin-left: 30px" ></a>
        </div>

        <div th:replace="commons/bar::leftbar"></div>
    </div>
    <div class="viceDiv_2">
        <div style="margin-top: 15px;margin-left: 15px">团队管理</div>


        <pr></pr>
        <div th:replace="commons/top::topbar(a='teammanage')"></div>

        <!--表格-->
        <div class="table-responsive" style="margin-left: 15px">
            <table class="table table-striped table-sm" style="border-right-width: 10px">
                <thead>
                <tr>
                    <th>
                        <input type="checkbox">
                    </th>
                    <th style="font-size: smaller">序号</th>
                    <th style="font-size: smaller">团队负责人</th>
                    <th style="font-size: smaller">团队名称</th>
                    <th style="font-size: smaller">联系方式</th>
                    <th style="font-size: smaller">电子信箱</th>
                    <th style="font-size: smaller">操作方式</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="team:${teams}">

                    <td><input type="checkbox"></td>
                    <td th:text="${team.id}" style="font-size: smaller"></td>
                    <td th:text="${team.name}" style="font-size: smaller"></td>
                    <td th:text="${team.department}" style="font-size: smaller"></td>
                    <td th:text="${team.contact}" style="font-size: smaller"></td>
                    <td th:text="${team.email}" style="font-size: smaller"></td>
                    <td>
                        <div>
                            <a th:href="@{/emp_team/}+${team.id}"><img src="asserts/img/pencil.png" width="20px" height="25px" style="float: left;margin-right: 20px"></a>
                            <form th:action="@{/emp_team/}+${team.id}" method="post">
                                <input type="hidden" name="_method" value="delete"/>

                                <button type="submit" class="btn" style="background-image: url('asserts/img/bin5.png');background-color: transparent;width: 20px;height: 25px;float: left"></button>

                            </form>



                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="viceDiv_3">
        <div th:replace="main::imgbar"></div>
        <div th:replace="main::gao"></div>


    </div>
</div>


</body>
</html>